{% if jobname == 'WFO_0015_ANA_DD' %}
oozie.use.system.libpath=True
oozie.wf.application.path=hdfs://lcia-digitaldna-bdp/user/hue/oozie/workspaces/{{ jobid }}
send_email=False
STDR_DATE={{ rlddate2 }}
dryrun=False
nameNode=hdfs://lcia-digitaldna-bdp
jobTracker=lcia-digitaldna-bdp-rm1
security_enabled=False
{% elif jobname == 'WFO_RE01_ANA_DD' %}
oozie.use.system.libpath=True
oozie.wf.application.path=hdfs://lcia-digitaldna-bdp/user/hue/oozie/workspaces/{{ jobid }}
security_enabled=False
dryrun=False
jobTracker=lcia-digitaldna-bdp-rm1
send_email=False
STDR_DATE1={{ rlddate1 }}
STDR_DATE2={{ rlddate2 }}
nameNode=hdfs://lcia-digitaldna-bdp
{% endif %}
